* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF2F1;
}

/** navbar **/
.tittle {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 18px;
    color: #5F00BA;
}

.navbar2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 800px;;
    height: 32px;
    border: 3px solid #A09BE7;
    border-right: none;
    border-bottom: none;
    border-radius: 5px;
    padding-left:30px;
    outline: none;
}

.nav-bar {
    border: 3px solid transparent;
}

.nav-bar:hover {
    border-radius: 5px;
    border: 3px solid #A09BE7;
    background-color: #A09BE7   ;
}

.add-icon {
    position: absolute; 
    left: 10px; 
    top: 50%;
    color: #5F00BA; 
    transform: translateY(-50%);
}

.nav-add {
    position: relative;
}

#add-button {
    height: 32px;
    width: 30px;
    border: none;
    border: none;
    font-weight: 700;
    position: absolute; 
    left: 780px; 
    top: 50%;
    color: #5F00BA; 
    transform: translateY(-50%);
    background: transparent;
    cursor: pointer;
}

#add-button:hover {
    color: rgb(20, 20, 69);    
}

.nav-all {
    margin-left: 20px;
    border: 3px solid transparent;
}

.all-select {
    height: 32px;
    width: 150px;
    background-color: #5F00BA;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
}

.nav-all:hover {
    border-radius: 5px;
    border: 3px solid #A09BE7;
    background-color: #A09BE7;
}

.mode-icon {
    margin-left: 20px;
    height: 28px;
    width: 28px;
    background-color: #5F00BA;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
}

.mode-icon:hover {
    border-radius: 5px;
    border: 3px solid #A09BE7;
    color: #A09BE7   ;
}

.icon-2 {
    background-color: #5F00BA   ;
    color: white;
    font-size: 20px;
}


/** hero-section **/
.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-ops {
    height: 450px;
    width: 800px;
}

.hero-items {
    margin-top: 50px;
    height: 500px;
    width: 310px;  
    font-size: 20px;
    color: #3C3744;
    font-weight: 550;
}

.hero-items input {
    height: 20px;
    width: 20px;
    border: none;
    color: #A09BE7;
    margin-right: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

ul li {
    list-style: none;
    position: relative;
    margin-bottom: 15px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 16px;
}

ul li.checked {
    color: grey;
    text-decoration: line-through;
}


ul li.checked::before {
    color: grey;
    background-image: url(images/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}


